#heading{
    color:blue;
    background-color: rgb(46, 186, 140);
}

body{
    background-color: bisque;
}

button{
    background-color: brown;
    color: antiquewhite;
}
.sameClass{
    color: aqua;
}
p{
    color: black;
}